:root {       
	--first-font: 'Montserrat', sans-serif;
	--second-font: 'Roboto Slab', sans-serif;
	--third-font: 'Droid Serif', serif;
	--other-family: 'Bilbo Swash Caps', cursive;
}
    :root{
	--services-title: rgba(34, 34, 34, 1);
	--services-desc: rgba(119, 119, 119, 1);
	--contact-title: rgba(255, 255, 255, 1);
	--placeholder-color: rgba(187, 187, 187, 1);
	--button-color: rgba(254, 209, 54, 1);
}

body {
	font-family: var(--first-font);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -0.35px;
	color: var(--services-title);
}

.container {
	width: 942px;
	margin: 0 auto;
}
.header {
	padding-top: 44px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-family: var(--other-family);
	font-size: 36px;
	line-height: 41px;
	letter-spacing: 1.3px;
	color: var(--button-color);
	font-weight: 400;
    text-decoration: none;
}

.header-navigation-list {
	display: flex;
	gap: 10px;
}
.header-navigation-item{
    
    list-style: none;
    
}
.header-navigation-link {
	color: var(--button-color);
	line-height: 41px;
	padding: 10px;
	font-weight: 400;
    list-style: none;           
}
                              
.services {
	padding: 109px 0 119px 0;
}

.services-title {
	font-size: 40px;
	line-height: 75px;
	letter-spacing: -1px;
	text-align: center;
	padding-bottom: 87.5px;
	color: var(--services-title);
}

.services-list {
	display: flex;
	gap: 56px;
	text-align: center;
}

.services-item {
	display: flex;
	flex-direction: column;
}

.services-subtitle {
	font-size: 18px;
	line-height: 75px;
	letter-spacing: -0.45px;
}

.services-description {
	font-weight: 400;
	font-family: var(--second-font);
	color: var(--services-desc);
}


.services-wrapper {
    border-radius: 100%;
    border: 3px solid var(--button-color);
    width: 70px;
    height: 69px;
    margin: 0 auto;
	padding: 13px;
}
.services-icon  {
	fill: var(--button-color);
    width: 39px; 
    height: 38px;
}

.contact {
	padding: 92px 0 115px 0;
	background-color: var(--services-title);
}

.contact-title {
	color: var(--contact-title);
	font-size: 40px;
	letter-spacing: -1px;
	text-align: center;
	padding-bottom: 114px;
}

.contact-container {
	display: flex;
	flex-direction: column;
}

.contact-wrapper {
	display: flex;
	justify-content: center;
} 

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.form-container {
	display: flex;
	gap: 27px;
	align-items: flex-start;
}

.contact-form-wrapper {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.contact-input,
.contact-textarea {
	font: inherit;
	color: var(--placeholder-color);
	border: 1px solid var(--placeholder-color);
	border-radius: 3px;
}

.contact-input {
	padding: 12px 20px 21px 20px;
	width: 455px;
}

.contact-textarea {
	padding: 14px 22px 22px 22px;
	width: 458px;
	height: 212px;
	border-radius: 2px;
	resize: none;
}

input::placeholder,
.contact-textarea::placeholder {
	color: var(--placeholder-color);
	font: 700;
}

.send-button {
	margin: 27px auto 0 auto;
	background-color: var(--button-color);
	color: var(--contact-title);
	font-size: 18px;
	padding: 18px 33px 28px 33px;
	border: 0;
	cursor: pointer;
	font-weight: 700;
	font-family: var(--first-font);
}
